---
import Header from "../components/Header.astro";
import Preloader from "../components/Preloader.astro";
import Navbar from "../components/Navbar.astro";
import InnerPageHero from "../components/InnerPageHero.astro";
import Footer from "../components/Footer.astro";

const title = "Games";
---

<!doctype html>
<html lang="en">
  <head>
    <Header title={title} />
  </head>

  <body>
    <Preloader />
    <Navbar />
    <InnerPageHero title={title} />

    <section class="portfolio spad">
      <div class="section-title center-title">
        <h2>Teknack 2024</h2>
      </div>
      <div class="container">
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/StarfallOdyssey.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.teknack.starfall"
                  target="_blank"
                >
                  <h4>Starfall :: Odyssey</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.teknack.starfall"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/rina.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.teknack.rina"
                  target="_blank"
                >
                  <h4>Rina</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.teknack.rina"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/CircleSmash.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.CircleSmash.CircleSmash"
                  target="_blank"
                >
                  <h4>Circle Smash</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.CircleSmash.CircleSmash"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/BlockadeBrio.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.SoloGameDev.teknack"
                  target="_blank"
                >
                  <h4>Blockade Brio</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.SoloGameDev.teknack"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/dash.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Dash"
                  target="_blank"
                >
                  <h4>Dash</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Dash"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/MysticIsland.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.MysticIsland"
                  target="_blank"
                >
                  <h4>Mystic Island</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.MysticIsland"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/FlyingVoyager.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.FlyingVoyager.FlyingVoyager"
                  target="_blank"
                >
                  <h4>Flying Voyager</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.FlyingVoyager.FlyingVoyager"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/Jounce.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Jounce.JounceJoyfulBounce"
                  target="_blank"
                >
                  <h4>Jounce</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Jounce.JounceJoyfulBounce"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12"
            style="justify-content: center; text-align: center;"
          >
            <a href="/teknack-2024" class="primary-btn">Check all games</a>
          </div>
        </div>
        <!-- <div class="row" style="justify-content: center;">
                <div class="col-md-4" style="justify-content: center; text-align: center;">
                    <img src="/img/comingsoon.svg" alt="" class="mt-3">
                    <h2 class="primary-btn mt-5">Coming Soon...</h2>
                   
                </div>
            </div> -->
      </div>
    </section>

    <section class="portfolio spad">
      <div class="section-title center-title">
        <!-- <span>Latest Games</span> -->
        <h2>Teknack 2023</h2>
      </div>
      <div class="container">
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-23/blocky-build.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BlockyBuild.BlockyBuild"
                  target="_blank"
                >
                  <h4>Blocky Build</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BlockyBuild.BlockyBuild"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-23/burnout-blitz.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BurnoutBlitz.BurnoutBlitz"
                  target="_blank"
                >
                  <h4>Burnout Blitz</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BurnoutBlitz.BurnoutBlitz"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-23/stunt-blaze.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.stuntblaze"
                  target="_blank"
                >
                  <h4>Stunt Blaze</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.stuntblaze"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-23/dunkit.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Dunkit.Dunkit"
                  target="_blank"
                >
                  <h4>Dunk It</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Dunkit.Dunkit"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-23/track-titans.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.TheTrackTitans.TheTrackTitans"
                  target="_blank"
                >
                  <h4>The Track Titans</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.TheTrackTitans.TheTrackTitans"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-23/spacedive.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Spacedive.Spacedive"
                  target="_blank"
                >
                  <h4>Spacedive</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Spacedive.Spacedive"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-23/zombie-zapper.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.teknack.ZombieZapper.ZombieZapper"
                  target="_blank"
                >
                  <h4>Zombie Zapper</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.teknack.ZombieZapper.ZombieZapper"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-23/balloon-popperz.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.BalloonPopperz"
                  target="_blank"
                >
                  <h4>Balloon Popperz</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.BalloonPopperz"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12"
            style="justify-content: center; text-align: center;"
          >
            <a href="/teknack-2023" class="primary-btn">Check all games</a>
          </div>
        </div>
        <!-- <div class="row" style="justify-content: center;">
                <div class="col-md-4" style="justify-content: center; text-align: center;">
                    <img src="/img/comingsoon.svg" alt="" class="mt-3">
                    <h2 class="primary-btn mt-5">Coming Soon...</h2>
                   
                </div>
            </div> -->
      </div>
    </section>

    <section class="portfolio spad">
      <div class="section-title center-title">
        <!-- <span>Latest Games</span> -->
        <h2>Teknack 2022</h2>
      </div>
      <div class="container">
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-22/Jards.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Jards"
                  target="_blank"
                >
                  <h4>Jards</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Jards"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-22/Dyeforlyfe.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.DyeForLyfe"
                  target="_blank"
                >
                  <h4>Dye For Lyfe</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.DyeForLyfe"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-22/Everknight.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.EverKnight"
                  target="_blank"
                >
                  <h4>Everknight</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.EverKnight"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-22/PerilousWays.webp"
                style="background-color: #ddd;"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.PerilousWays"
                  target="_blank"
                >
                  <h4>Perilous Ways</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.PerilousWays"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-22/Anti-LimeRush.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.AntiLimeRush"
                  target="_blank"
                >
                  <h4>Anti-Lime Rush</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.AntiLimeRush"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-22/TankFest.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TankFest"
                  target="_blank"
                >
                  <h4>Tank Fest</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TankFest"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-22/Astrompy.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Astrompy"
                  target="_blank"
                >
                  <h4>Astrompy</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Astrompy"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-22/SkyGliders.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SkyGliders"
                  target="_blank"
                >
                  <h4>Sky Gliders</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SkyGliders"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12"
            style="justify-content: center; text-align: center;"
          >
            <a href="/teknack-2022" class="primary-btn">Check all games</a>
          </div>
        </div>
        <!-- <div class="row" style="justify-content: center;">
                <div class="col-md-4" style="justify-content: center; text-align: center;">
                    <img src="/img/comingsoon.svg" alt="" class="mt-3">
                    <h2 class="primary-btn mt-5">Coming Soon...</h2>
                   
                </div>
            </div> -->
      </div>
    </section>

    <!-- Portfolio Section Begin -->
    <section class="portfolio spad">
      <div class="section-title center-title">
        <!-- <span>Latest Games</span> -->
        <h2>Teknack 2021</h2>
      </div>
      <div class="container">
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-21/zenscape.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Zenscape"
                  target="_blank"
                >
                  <h4>Zenscape</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Zenscape"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-21/foodunk.jpg"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Foodunk"
                  target="_blank"
                >
                  <h4>Foodunk</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Foodunk"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-21/enchantedwoods.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.EnchantedWoods"
                  target="_blank"
                >
                  <h4>Enchanted Woods</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.EnchantedWoods"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-21/trinitywarriors.png"
                style="background-color: #ddd;"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheTrinityWarriors"
                  target="_blank"
                >
                  <h4>The Trinity Warriors</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheTrinityWarriors"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-21/shottyballs.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.ShootyBalls"
                  target="_blank"
                >
                  <h4>Shooty Balls</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.ShootyBalls"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-21/TLC_logo.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheLastCombat"
                  target="_blank"
                >
                  <h4>The Last Combat</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheLastCombat"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-21/Circlezoid.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Circlezoid"
                  target="_blank"
                >
                  <h4>Circlezoid</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Circlezoid"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-21/BattleOutpost.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.BattleOutpostLastgenicsTD"
                  target="_blank"
                >
                  <h4>Battle Outpost</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.BattleOutpostLastgenicsTD"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12"
            style="justify-content: center; text-align: center;"
          >
            <a href="/teknack-2021" class="primary-btn">Check all games</a>
          </div>
        </div>
        <!-- <div class="row" style="justify-content: center;">
                <div class="col-md-4" style="justify-content: center; text-align: center;">
                    <img src="/img/comingsoon.svg" alt="" class="mt-3">
                    <h2 class="primary-btn mt-5">Coming Soon...</h2>
                   
                </div>
            </div> -->
      </div>
    </section>

    <!-- Portfolio Section Begin -->
    <section class="portfolio spad">
      <div class="section-title center-title">
        <!-- <span>Latest Games</span> -->
        <h2>Teknack 2020</h2>
      </div>
      <div class="container">
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/spacetyccon.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceTycoon"
                  target="_blank"
                >
                  <h4>Space Tycoon</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceTycoon"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/Holesync.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.HoleSync"
                  target="_blank"
                >
                  <h4>HoleSync</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.HoleSync"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/TrashZone_18.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TrashZone"
                  target="_blank"
                >
                  <h4>Trash Zone</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TrashZone"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/SpaceRanger_9.jpeg"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceRangerrr"
                  target="_blank"
                >
                  <h4>Space Ranger</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceRangerrr"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/JungleTales_14.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Tecknak.JungleTales"
                  target="_blank"
                >
                  <h4>Jungle Tales</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Tecknak.JungleTales"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/dismantle.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Dismantle"
                  target="_blank"
                >
                  <h4>Dismantle</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Dismantle"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/The-Catacombs_13.jpg"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheCatacombs"
                  target="_blank"
                >
                  <h4>The Catacombs</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheCatacombs"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/appetite.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Appetite"
                  target="_blank"
                >
                  <h4>Appetite</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Appetite"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12"
            style="justify-content: center; text-align: center;"
          >
            <a href="/teknack-2020" class="primary-btn">Check all games</a>
          </div>
        </div>
      </div>
    </section>

    <section class="portfolio spad">
      <div class="section-title center-title">
        <!-- <span>Latest Games</span> -->
        <h2>Teknack 2019</h2>
      </div>
      <div class="container">
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/GetMeOut.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.GetMeOut"
                  target="_blank"
                >
                  <h4>Get Me Out</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.GetMeOut"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/UpsideDown.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.UpSideDown"
                  target="_blank"
                >
                  <h4>Upside Down</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.UpSideDown"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/CoconutRescue.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.CoconutRescue"
                  target="_blank"
                >
                  <h4>Coconut Rescue</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.CoconutRescue"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/BattleTank.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.BattleTank"
                  target="_blank"
                >
                  <h4>Battle Tank</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.BattleTank"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/SpaceBreaker.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceBreaker"
                  target="_blank"
                >
                  <h4>Space Breaker</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceBreaker"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/Survival.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Survival"
                  target="_blank"
                >
                  <h4>Survival</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Survival"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/StackIt.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.StackIT"
                  target="_blank"
                >
                  <h4>Stack It</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.StackIT"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/OneFIneNight.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.OneFineNight"
                  target="_blank"
                >
                  <h4>One Fine Night</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.OneFineNight"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12"
            style="justify-content: center; text-align: center;"
          >
            <a href="/teknack-2019" class="primary-btn">Check all games</a>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
