---
import Header from "../components/Header.astro";
import Preloader from "../components/Preloader.astro";
import Navbar from "../components/Navbar.astro";
import InnerPageHero from "../components/InnerPageHero.astro";
import Footer from "../components/Footer.astro";

const title = "2022 Games";
---

<!doctype html>
<html lang="en">
  <head>
    <Header title={title} />
  </head>

  <body>
    <Preloader />
    <Navbar />
    <InnerPageHero title={title} />

    <section class="portfolio spad">
      <div class="container">
        <div class="row"></div>
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/Jards.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Jards"
                  target="_blank"
                >
                  <h4>Jards</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Jards"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/Dyeforlyfe.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.DyeForLyfe"
                  target="_blank"
                >
                  <h4>Dye For Lyfe</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.DyeForLyfe"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/Everknight.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.EverKnight"
                  target="_blank"
                >
                  <h4>Everknight</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.EverKnight"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/PerilousWays.webp"
                style="background-color: #ddd;"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.PerilousWays"
                  target="_blank"
                >
                  <h4>Perilous Ways</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.PerilousWays"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/Anti-LimeRush.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.AntiLimeRush"
                  target="_blank"
                >
                  <h4>Anti-Lime Rush</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.AntiLimeRush"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/TankFest.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TankFest"
                  target="_blank"
                >
                  <h4>Tank Fest</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TankFest"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/Astrompy.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Astrompy"
                  target="_blank"
                >
                  <h4>Astrompy</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Astrompy"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/SkyGliders.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SkyGliders"
                  target="_blank"
                >
                  <h4>Sky Gliders</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SkyGliders"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/SUSTheHiddenQuest.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SUSTheHiddenQuest"
                  target="_blank"
                >
                  <h4>SUS: The hidden Quest</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SUSTheHiddenQuest"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/RescueBud.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.RescueBud"
                  target="_blank"
                >
                  <h4>RescueBud</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.RescueBud"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/ChaoticBeyblades.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.ChaoticBeyblades"
                  target="_blank"
                >
                  <h4>Chaotic Beyblades</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.ChaoticBeyblades"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/DawnOfSurvival.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://teknack.itch.io/dawn-of-survival"
                  target="_blank"
                >
                  <h4>Dawn of Survival</h4>
                </a>
                <a
                  href="https://teknack.itch.io/dawn-of-survival"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/Spacetronauts.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Spacetronauts"
                  target="_blank"
                >
                  <h4>Spacetronauts</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Spacetronauts"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/trainbrain.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TrainBrain"
                  target="_blank"
                >
                  <h4>Train Brain</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TrainBrain"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-22/Rollex.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Rollex"
                  target="_blank"
                >
                  <h4>Rollex</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Rollex"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
