---
import Header from "../components/Header.astro";
import Preloader from "../components/Preloader.astro";
import Navbar from "../components/Navbar.astro";
import InnerPageHero from "../components/InnerPageHero.astro";
import Footer from "../components/Footer.astro";

const title = "2020 Games";
---

<!doctype html>
<html lang="en">
  <head>
    <Header title={title} />
  </head>

  <body>
    <Preloader />
    <Navbar />
    <InnerPageHero title={title} />

    <!-- Portfolio Section Begin -->
    <section class="portfolio spad">
      <div class="container">
        <div class="row"></div>
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/spacetyccon.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceTycoon"
                  target="_blank"
                >
                  <h4>Space Tycoon</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceTycoon"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/Holesync.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.HoleSync"
                  target="_blank"
                >
                  <h4>HoleSync</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.HoleSync"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/TrashZone_18.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TrashZone"
                  target="_blank"
                >
                  <h4>Trash Zone</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TrashZone"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/SpaceRanger_9.jpeg"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceRangerrr"
                  target="_blank"
                >
                  <h4>Space Ranger</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SpaceRangerrr"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/JungleTales_14.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Tecknak.JungleTales"
                  target="_blank"
                >
                  <h4>Jungle Tales</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Tecknak.JungleTales"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/dismantle.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Dismantle"
                  target="_blank"
                >
                  <h4>Dismantle</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Dismantle"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/The-Catacombs_13.jpg"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheCatacombs"
                  target="_blank"
                >
                  <h4>The Catacombs</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheCatacombs"
                  target="_blank"><span>Download</span></a
                >
                <!-- <ul>
                                <li>eCommerce</li>
                                <li>Magento</li>
                            </ul> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/appetite.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Appetite"
                  target="_blank"
                >
                  <h4>Appetite</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Appetite"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/astrotera.jpg"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Tecknack.AstroTera"
                  target="_blank"
                >
                  <h4>Astro Tera</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Tecknack.AstroTera"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/balley.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Balley"
                  target="_blank"
                >
                  <h4>Balley</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Balley"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/cattotime.jpg"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.CattoTime"
                  target="_blank"
                >
                  <h4>Catto Time</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.CattoTime"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/sdroids.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SDROIDS"
                  target="_blank"
                >
                  <h4>SDroids</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SDROIDS"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/blocker.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Blocker"
                  target="_blank"
                >
                  <h4>Blocker</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Blocker"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/wiggly.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.WigglyEscape"
                  target="_blank"
                >
                  <h4>Wiggly Escape</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.WigglyEscape"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/geflect.png"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Geflect"
                  target="_blank"
                >
                  <h4>Geflect</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Geflect"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/game-logos/sprint.jpg"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SprintRacing"
                  target="_blank"
                >
                  <h4>Sprint Racing</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.SprintRacing"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
