---
import Header from "../components/Header.astro";
import Preloader from "../components/Preloader.astro";
import Navbar from "../components/Navbar.astro";
import InnerPageHero from "../components/InnerPageHero.astro";
import Footer from "../components/Footer.astro";

const title = "2024 Games";
---

<!doctype html>
<html lang="en">
  <head>
    <Header title={title} />
  </head>

  <body>
    <Preloader />
    <Navbar />
    <InnerPageHero title={title} />

    <section class="portfolio spad">
      <div class="container">
        <div class="row"></div>
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/StarfallOdyssey.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.teknack.starfall"
                  target="_blank"
                >
                  <h4>Starfall :: Odyssey</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.teknack.starfall"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/CircleSmash.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.CircleSmash.CircleSmash"
                  target="_blank"
                >
                  <h4>Circle Smash</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.CircleSmash.CircleSmash"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/BlockadeBrio.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.SoloGameDev.teknack"
                  target="_blank"
                >
                  <h4>Blockade Brio</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.SoloGameDev.teknack"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/MysticIsland.webp"
                style="background-color: #ddd;"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.MysticIsland"
                  target="_blank"
                >
                  <h4>Mystic Island</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.MysticIsland"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/FlyingVoyager.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.FlyingVoyager.FlyingVoyager"
                  target="_blank"
                >
                  <h4>Flying Voyager</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.FlyingVoyager.FlyingVoyager"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/Jounce.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Jounce.JounceJoyfulBounce"
                  target="_blank"
                >
                  <h4>Jounce</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Jounce.JounceJoyfulBounce"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/rina.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.teknack.rina"
                  target="_blank"
                >
                  <h4>Rina</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.teknack.rina"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/bullseyeblitz.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BulleyeBlitz.BullseyeBlitz"
                  target="_blank"
                >
                  <h4>Bullseye Blitz</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BulleyeBlitz.BullseyeBlitz"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/Asterix.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Asterisk.ASTERISK"
                  target="_blank"
                >
                  <h4>Asterisk</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Asterisk.ASTERISK"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/memories.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.MemoryBloom.MemoryBloom"
                  target="_blank"
                >
                  <h4>Memory Bloom</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.MemoryBloom.MemoryBloom"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/nova_inf.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Tecknack.NovaInfestation.NovaInfestation"
                  target="_blank"
                >
                  <h4>Nova Infestation</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Tecknack.NovaInfestation.NovaInfestation"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/AbyssalRuins_logo.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.AbyssalRuins.AbyssalRuins"
                  target="_blank"
                >
                  <h4>Abyssal Ruins</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.AbyssalRuins.AbyssalRuins"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/fmswing.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.FunkyMonkeySwing.FunkyMonkeySwing"
                  target="_blank"
                >
                  <h4>Funky Monkey Swing</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.FunkyMonkeySwing.FunkyMonkeySwing"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/mad_medical_mayhem.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.MadMedicalMayhem"
                  target="_blank"
                >
                  <h4>Mad Medical Mayhem</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.MadMedicalMayhem"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/janejive.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.JaneJive.teknack"
                  target="_blank"
                >
                  <h4>Jane Jive</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.JaneJive.teknack"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/flappy_rocket.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Flappyrocket"
                  target="_blank"
                >
                  <h4>Flappy Rocket</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Flappyrocket"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/dash.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.DefaultCompany.GameOGalaxy"
                  target="_blank"
                >
                  <h4>Dash</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.Dash"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="/img/logos-24/game0gal.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.DefaultCompany.GameOGalaxy"
                  target="_blank"
                >
                  <h4>GameOGalaxy</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.DefaultCompany.GameOGalaxy"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
