---
import Header from "../components/Header.astro";
import Preloader from "../components/Preloader.astro";
import Navbar from "../components/Navbar.astro";
import InnerPageHero from "../components/InnerPageHero.astro";
import Footer from "../components/Footer.astro";

const title = "2023 Games";
---

<!doctype html>
<html lang="en">
  <head>
    <Header title={title} />
  </head>

  <body>
    <Preloader />
    <Navbar />
    <InnerPageHero title={title} />

    <section class="portfolio spad">
      <div class="container">
        <div class="row"></div>
        <div class="row portfolio__gallery">
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/blocky-build.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BlockyBuild.BlockyBuild"
                  target="_blank"
                >
                  <h4>Blocky Build</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BlockyBuild.BlockyBuild"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/burnout-blitz.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BurnoutBlitz.BurnoutBlitz"
                  target="_blank"
                >
                  <h4>Burnout Blitz</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.BurnoutBlitz.BurnoutBlitz"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/stunt-blaze.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.stuntblaze"
                  target="_blank"
                >
                  <h4>Stunt Blaze</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.stuntblaze"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/fence-maze.webp"
                style="background-color: #ddd;"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.FenceMaze.FenceMaze"
                  target="_blank"
                >
                  <h4>Fence Maze</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.FenceMaze.FenceMaze"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/dunkit.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Dunkit.Dunkit"
                  target="_blank"
                >
                  <h4>Dunk It</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Dunkit.Dunkit"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/TheLoneBot.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheLoneBot"
                  target="_blank"
                >
                  <h4>The Lone Bot</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.TheLoneBot"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 mix casual">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/balloon-popperz.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.BalloonPopperz"
                  target="_blank"
                >
                  <h4>Balloon Popperz</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.Teknack.BalloonPopperz"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/track-titans.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.TheTrackTitans.TheTrackTitans"
                  target="_blank"
                >
                  <h4>The Track Titans</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.TheTrackTitans.TheTrackTitans"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/spacedive.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Spacedive.Spacedive"
                  target="_blank"
                >
                  <h4>Spacedive</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.Teknack.Spacedive.Spacedive"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg"
                data-setbg="img/logos-23/zombie-zapper.webp"
              >
              </div>
              <div class="portfolio__item__text">
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.teknack.ZombieZapper.ZombieZapper"
                  target="_blank"
                >
                  <h4>Zombie Zapper</h4>
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.com.teknack.ZombieZapper.ZombieZapper"
                  target="_blank"><span>Download</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
