---

---

<section class="contact-widget spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-md-6 col-md-3">
        <div class="contact__widget__item">
          <div class="contact__widget__item__icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="contact__widget__item__text">
            <h4>Address</h4>
            <p>
              Don Bosco Institute of Technology,Premier Automobiles Road Opp.
              HDIL Premier Exotica, Kurla, w, Maharashtra 400070
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-md-6 col-md-3">
                <div class="contact__widget__item">
                    <div class="contact__widget__item__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="contact__widget__item__text">
                        <h4>Hotline</h4>
                        <p>+91 76780 60548 • +91 88790 54419</p>
                    </div>
                </div>
            </div> -->
      <div class="col-lg-6 col-md-6 col-md-6 col-md-3">
        <div class="contact__widget__item">
          <div class="contact__widget__item__icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="contact__widget__item__text">
            <h4>Email</h4>
            <p>teknackgaming@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
