---
import JsImports from "../components/JsImports.astro";
---

<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-5">
              <div class="footer__top__logo">
                <a href="/"
                  ><img
                    src="/img/tk-logo-white.webp"
                    alt="Teknack Logo"
                    class="my-auto"
                  /></a
                >
              </div>
            </div>
            <div class="col-7 row">
              <div class="col-9">
                <div class="footer__top__logo">
                  <a href="https://dbit.acm.org"
                    ><img src="/img/2.png" alt="ACM DBIT" class="my-auto" /></a
                  >
                </div>
              </div>
              <div class="col-3">
                <div class="footer__top__logo">
                  <a href="https://www.dbit.in"
                    ><img src="/img/DBIT.png" alt="DBIT" /></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="footer__top__social">
            <a href="https://www.instagram.com/acmdbit/"
              ><i class="fa fa-instagram"></i></a
            >
            <a href="https://www.linkedin.com/company/acm-dbit"
              ><i class="fa fa-linkedin"></i></a
            >
            <a href="https://www.facebook.com/ACMDBIT/"
              ><i class="fa fa-facebook"></i></a
            >
            <a href="https://twitter.com/acmdbit"
              ><i class="fa fa-twitter"></i></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="footer__option">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer__option__item">
            <h5>About us</h5>
            <p>
              Teknack is one of the amazing battlefields provided by ACM for
              students of not just DBIT but also of other colleges to boost up
              their creative skills and pump up their technical skills...
            </p>
            <a href="/about" class="read__more"
              >Read more <span class="arrow_right"></span></a
            >
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="footer__option__item">
            <h5>Teknack History</h5>
            <ul>
              <li><a href="/teknack-2024">Teknack 2024</a></li>
              <li><a href="/teknack-2023">Teknack 2023</a></li>
              <li><a href="/teknack-2022">Teknack 2022</a></li>
              <li><a href="/teknack-2021">Teknack 2021</a></li>
              <li><a href="/teknack-2020">Teknack 2020</a></li>
              <li><a href="/teknack-2019">Teknack 2019</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="footer__option__item">
            <h5>Pages</h5>
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/games">Games</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="footer__option__item">
            <h5>Teknack Developer Account</h5>
            <p>
              Our games are published on Google Play Store. Go check it out by
              clicking on the below button.
            </p>
            <a
              href="https://play.google.com/store/apps/developer?id=Teknack&hl=en_IN&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
              target="_blank"
              ><img
                alt="Get it on Google Play"
                src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
              /></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="footer__copyright__text">
            Copyright &copy;
            <script is:inline>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Teknack Gaming Studio
            <span style="font-size: 0.11px;">
              <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                href="https://colorlib.com"
                target="_blank">Colorlib</a
              ></span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<JsImports />
