---
const {title} = Astro.props;
const pageTitle = title + " | Teknack Gaming Studio";
---
<meta charset="UTF-8">
<meta name="description" content="Teknack is a Gaming Studio run by ACM-DBIT Student Chapter. Teknack is one of the amazing battlefields provided by ACM for students of not just DBIT but
also of other colleges to boost up their creative skills and pump up their technical skills.">
<meta name="keywords" content="teknack, gaming, studio, dbit, acm, mumbai, technak, tecknak, technack, tecknack">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta property="og:image" content="/img/favicon/android-chrome-512x512.png">
<meta property="og:description" content="Teknack is a Gaming Studio run by ACM-DBIT Student Chapter. Teknack is one of the amazing battlefields provided by ACM for students of not just DBIT but
also of other colleges to boost up their creative skills and pump up their technical skills.">
<meta property="og:title" content={pageTitle}>
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/site.webmanifest">
<!-- Css Styles -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">

<title>{pageTitle}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4LG3JX454M"></script>
<script is:inline>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-4LG3JX454M');
</script>