---

---

<section class="hero">
  <div class="hero__item set-bg" data-setbg="/img/hero/bg-teknack2.webp">
    <div
      style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: blueviolet; opacity: 0.5;"
    >
    </div>
    <div
      style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: black; opacity: 0.6;"
    >
    </div>
    <div class="container pb-5">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6 col-sm-12 pt-5 my-auto">
          <div class="text-white">
            <span class="hero-subtext pb-4">India's First College-based Gaming Studio</span>
            <h1 class="teknack-font pt-3 pb-2">Teknack</h1>
            <a href="/games" class="primary-btn">Our Games</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img
            class="mx-auto mt-2 pt-3"
            src="/img/teknacklogo-white-02.webp"
            style="width: 50%;height: auto;"
            alt="Teknack Logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
