---

---
<script src="/src/data/timerData.js" is:inline></script>

<section class="hero">
  <div class="hero__item">
    <div
      style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: blueviolet; opacity: 0.5;"
    >
    </div>
    <div
      style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: black; opacity: 0.6;"
    >
    </div>
    <div class="container pb-5">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6 col-sm-12 pt-5 my-auto">
          <div class="text-white">
            <h3 class="hero-subtext pb-2">
              India's Only College based Gaming Studio
            </h3>
            <h1 class="d-none">Teknack</h1>
            <h2 class="teknack-font pt-2 pb-3">
              By The Students,<br />For the Students.
            </h2>
            <a href="/games" class="primary-btn">Our Games</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img
            class="mx-auto mt-2 pt-3"
            src="/img/teknacklogo-white-02.webp"
            style="width: 50%;height: auto;"
            alt="Teknack Logo"
          />
        </div>
      </div>
      <!--<h2 class="justify-content-center text-center text-white" style="opacity: 0.8;">COUNTDOWN BEGINS</h2>
      <div class="d-flex flex-row justify-content-center text-center" style="opacity: 0.8;">
        <div class="mx-3 text-white">
          <h2 id="days"class="fs-2 text-white">00</h2>
          <span>DAYS</span>
        </div>
        <div class="mx-3 text-white">
          <h2 id="hours"class="fs-2">00</h2>
          <span>HOURS</span>
        </div>
        <div class="mx-3 text-white">
          <h2 id="minutes"class="fs-2">00</h2>
          <span>MINS</span>
        </div>
        <div class="mx-3 text-white">
          <h2 id="seconds"class="fs-2">00</h2>
          <span>SEC</span>
        </div>
      </div> -->
    </div>
  </div>
</section>



