---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
let gamesPath = false;

if (["teknack-2024","teknack-2023","teknack-2022","teknack-2021","teknack-2020","teknack-2019", "games"].includes(currentPath)) {
    gamesPath = true;
}
---

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="/img/tk-logo.png" alt="Teknack Logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav__option">
                    <nav class="header__nav__menu mobile-menu">
                        <ul>
                            <li class={currentPath === "" ? "active" : ""}><a href="/">Home</a></li>
                            <li class={currentPath === "about" ? "active" : ""}><a href="/about">About</a></li>
                            <li class={gamesPath ? "active" : ""}><a href="/games">Games</a>
                                <ul class="dropdown">
                                    <li><a href="/teknack-2024">Teknack 2024</a></li>
                                    <li><a href="/teknack-2023">Teknack 2023</a></li>
                                    <li><a href="/teknack-2022">Teknack 2022</a></li>
                                    <li><a href="/teknack-2021">Teknack 2021</a></li>
                                    <li><a href="/teknack-2020">Teknack 2020</a></li>
                                    <li><a href="/teknack-2019">Teknack 2019</a></li>
                                </ul>
                            </li>
                            <!-- <li class={currentPath === "" ? "active" : ""}><a href="leaderboard">2022 LeaderBoard</a></li> -->
                            <li class={currentPath === "hall-of-fame" ? "active" : ""}><a href="/hall-of-fame">Hall of Fame</a>
                            <li class={currentPath === "gallery" ? "active" : ""}><a href="/gallery">Gallery</a></li>
                            <li class={currentPath === "contact" ? "active" : ""}><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header__nav__social">
                        <a href="https://www.instagram.com/acmdbit/"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/acm-dbit"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/ACMDBIT/"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/acmdbit"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>